* {
  margin: 0;
  padding: 0;

  text-align: center;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  color: #0b0704;
  text-align: center;
}

u {
  color: #0b0704;
}

tbody {
  color: #0b0704;
}

#linking{
    color:#ffffff;

}

li,
a,
span {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style-type: none;
}


header {
  padding: 20px 5%;
  display: flex;
  background-color: #000000;
  justify-content: space-between;
  align-items: center;
}

header li {
  padding: 0px 10px;
}

section {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(50, 172, 109, 1) 0%,
    rgba(209, 251, 155, 1) 100.2%
  );
}

section h1 {
  color: #0b0704ff;
}

hr {
  margin: 20px 0 0 0;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

footer {
  padding: 20px;
  color: #c8c8c8;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0b0704;
  position: relative;
}

table {
  color: #0b0704;
  align-content: center;
}

.container {
  padding: 20px 10%;
  align-items: center;
  color: #0b0704;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  overflow: auto;
}

@media (max-width: 1000px) {
  .navbar-items {
    display: none;
  }

  .container {
    padding: 20px;
  }
}